.openfile {
  margin-left: 24px;
  background-color: #1e1e1e;

  /*regardless of contents height, fill the given space*/
  height: 100%;

  /*.contents to fill only the remaining space, and enable .contents scroll*/
  display: flex;
  flex-direction: column;
}

.tab {
  width: fit-content;
  font-size: 14px;
  padding: 4px;
  background-color: var(--color-sourcecode-surface-tab);
  color: var(--color-primary-text);
}

.tabs {
  background-color: var(--color-menu);
}

.contents {
  overflow: auto; /* scroll within file content (not to include file name tab in vertical scroll) */
}

@media (max-width: 768px) {
  .contents pre {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
  }
}

/* .contents::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #252526; /* or add it to the track */ /*
}

.contents::-webkit-scrollbar-thumb {
  background-color: #2b2b30;
  border-radius: 4px;
}

.contents::-webkit-scrollbar-thumb:horizontal {
  background-color: #37373d;
  border-radius: 4px;
}

.contents::-webkit-scrollbar-corner {
  background-color: #252526;
} */
