.component {
  height: 100svh;

  display: flex;
  flex-direction: column;

  /* to hold navigation items */
  position: relative;
}

@media (max-width: 768px) {
  .component {
    width: 100svw;
  }
}

@media (min-width: 769px) {
  .component {
    width: 768px;
  }
}

.header {
  flex-grow: 0;

  /* Place header on top of contents, to allow select tab's bottom *merge* with content's top */
  /* z-index works without `position` property, as this is a flex child*/
  z-index: 2;
}

.contents {
  flex-grow: 1;

  /* Place header on top of contents, to allow select tab's bottom *merge* with content's top */
  /* z-index works without `position` property, as this is a flex child*/
  z-index: 1;

  /**
   * This is needed so that y scroll is enabled within the column.
   * Otherwise, the whole window (i.e. <body></body>) will scroll in y direction, 
   * because this `.content` component will grow to the height of the inner children
   */
  overflow-y: hidden;
}
