.back {
  position: fixed;
  top: 0px;
  right: 0px;
  font-size: 8px;
  padding: 0px 5px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border-style: none;
  z-index: 100;
}

.prev {
  /* positioning */
  position: fixed;
  bottom: 0px;
  left: 0px;

  /* sizing */
  padding: 8px;

  /* color and styles */
  background-color: var(--color-theme-blue);
  color: var(--color-primary-text);
  border-style: none;
}

.next {
  /* positioning */
  position: fixed;
  bottom: 0px;
  right: 0px;

  /* sizing */
  padding: 8px;

  /* color and styles */
  background-color: var(--color-theme-blue);
  color: var(--color-primary-text);
  border-style: none;
}

.autoplay {
  /* positioning */
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0%);

  /* sizing */
  padding: 8px;

  /* color and styles */
  background-color: var(--color-theme-green);
  color: var(--color-primary-text);
  border-style: none;
}

.step {
  position: fixed;
  bottom: 40px;
  right: 0px;
  font-size: 8px;
  padding: 0px 5px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border-style: none;
  z-index: 100;
}

@media (max-width: 768px) {
  .autoplay {
    border-radius: 16px;
  }

  .text.smartphone {
    position: relative;
    left: 1px;
    width: 16px;
  }

  .text.desktop {
    display: none;
  }
}

@media (min-width: 769px) {
  .text.smartphone {
    display: none;
  }

  .text.desktop {
    font-size: 16px;
    height: 18px;
  }
}
