body {
  margin: 0px;

  @media (max-width: 768px) {
    background-color: #252526;
  }
  background-color: #2d2d2d;
  min-height: 100vh;
  color: white;
}

a {
  color: #389bf2;
  text-decoration: none;
}
