.component {
  /* flex parent = .pane */

  display: flex;
  justify-content: space-between;
  background-color: var(--color-menu);

  background-color: var(--color-menu);
  padding: 5px 8px;
}

.button {
  color: var(--color-primary-text);
}
