.component {
  width: fit-content;
  font-size: 12px;
  padding: 4px;
  color: var(--color-primary-text);
}

.default {
  background-color: var(--color-sourcecode-surface-tab);
}

.new {
  background-color: rgb(202, 104, 47);
}
