.component {
  /* flex layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* padding */
  padding: 13px 10px 0px 8px;

  /* color and styles */
  border-bottom: 1px solid var(--common-primary-text, #fff);
  background: var(--common-background, #212121);
}

.columns {
  /* flex settings */
  display: flex;
  align-items: flex-start;
  column-gap: 8px;

  /* wrap settings */
  row-gap: 16px;
  flex-wrap: wrap;
}
