.modal {
  /*to contain the modal box*/
  position: relative;

  /* somehow, without this, the background image's width is shrunk... not shure why...*/
  width: 100%;
}

.boxposition {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1; /* Sit on top */
}

.boxposition.top {
  top: 20px;
}

.boxposition.center {
  top: 50%;
}

.boxposition.bottom {
  bottom: 20px;
}

.box {
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: fit-content;
  margin: 0 auto;
  color: black;
}
