.component {
  display: flex;
  gap: 4px;
  color: white;
  padding: 2px 8px;
  font-size: 13px;
}

.component:hover {
  background-color: #748d2e;
}

.component.updated {
  background-color: #748d2e;
}
