.component {
  display: flex;
  justify-content: center;
  background-color: var(--color-menu);
  padding: 6px 0px;
  font-family: Source Code Pro, monospace;
}

.component span {
  display: inline-block;
  margin-left: 4px;
  font-size: 14px;
  color: var(--color-primary-text);
}
