.component {
  display: flex;
  column-gap: 8px;
  align-items: flex-start;

  /* wrap settings*/
  row-gap: 16px;
  flex-wrap: wrap;

  background-color: var(--color-menu);
  /* TODO should be supplied from next-font? */
  font-family: Source Code Pro, monospace;
}

.component > span {
  display: inline-block;
  margin-left: 4px;
  font-size: 14px;
  color: var(--color-primary-text);
}
