.component {
  background-color: var(--color-menu);
  margin-top: 20px;
  margin-left: 0px; /* 0px since there is left gutter in monaco-editor */
  margin-right: 15px;
  margin-bottom: 0px;

  /* to display tooltip arrow */
  position: relative;
}

/* ::before to place triangle at the top of the tooltip */
.tooltip::before {
  content: "";
  position: absolute;
  top: -40px; /* At the top the tooltip, double of triangle height */
  left: 50px;
  margin-left: -10px;
  border-width: 20px; /* equal to triangle height, half of triangle width*/
  border-style: solid;
  /* tooltip triangle upward direction*/
  border-color: transparent transparent var(--color-menu) transparent;
}
