.component {
  height: 100svh;

  /* to hold modal */
  position: relative;
}

@media (max-width: 768px) {
  .component {
    width: 100svw;
  }
}

@media (min-width: 769px) {
  .component {
    width: 768px;
  }
}
