.defaultStyle {
  padding: 2px 10px;
}

.defaultStyle h1,
.defaultStyle h2,
.defaultStyle h3,
.defaultStyle h4,
.defaultStyle h5,
.defaultStyle h6 {
  font-weight: 700;
  color: var(--color-primary-text);
}

.defaultStyle h1 {
  font-size: 40px;
  margin: 21px 0px;
}
.defaultStyle h2 {
  font-size: 36px;
  margin: 16px 0px;
}
.defaultStyle h3 {
  font-size: 32px;
  margin: 14px 0px;
}
.defaultStyle h4 {
  font-size: 28px;
  margin: 10px 0px;
}
.defaultStyle h5 {
  font-size: 24px;
  margin: 8px 0px;
}
.defaultStyle h6 {
  font-size: 20px;
  margin: 7px 0px;
}

.defaultStyle p {
  font-size: 14px;
  margin: 16px 0px;
  color: var(--color-primary-text);
}

.defaultStyle ul {
  margin: 16px 0px;
  color: var(--color-primary-text);
}

.defaultStyle ol {
  margin: 16px 0px;
  padding-left: 24px;
  color: var(--color-primary-text);
}

.defaultStyle ul {
  margin: 16px 0px;
  padding-left: 24px;
  color: var(--color-primary-text);
}

.defaultStyle li {
  font-size: 14px;
  color: var(--color-primary-text);
}

.defaultStyle blockquote {
  margin: 16px 0px;
  margin: 0px;
  padding-left: 18px;
  border-left: 2px solid var(--color-theme-blue);
  color: var(--color-secondary-text);
}

.defaultStyle img {
  margin: 16px 0px;
  display: block;
  margin: 20px auto;
  max-width: 100%;
}

.defaultStyle iframe {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
