.markdown {
  padding: 2px 10px;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-weight: 700;
  color: var(--color-primary-text);
}

.markdown h1 {
  font-size: 32px;
  margin: 21px 0px;
}
.markdown h2 {
  font-size: 28px;
  margin: 16px 0px;
}
.markdown h3 {
  font-size: 24px;
  margin: 14px 0px;
}
.markdown h4 {
  font-size: 20px;
  margin: 10px 0px;
}
.markdown h5 {
  font-size: 16px;
  margin: 8px 0px;
}
.markdown h6 {
  font-size: 14px;
  margin: 7px 0px;
}

.markdown p {
  font-size: 14px;
  margin: 16px 0px;
  color: var(--color-primary-text);
}

.textAlignCenter {
  text-align: center;
}

.textAlignLeft {
  text-align: left;
}

.markdown ul {
  margin: 16px 0px;
  color: var(--color-primary-text);
}

.markdown ol {
  margin: 16px 0px;
  padding-left: 24px;
  color: var(--color-primary-text);
}

.markdown ul {
  margin: 16px 0px;
  padding-left: 24px;
  color: var(--color-primary-text);
}

.markdown li {
  font-size: 14px;
  color: var(--color-primary-text);
}

.markdown code {
  font-family: "Roboto Mono";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  padding: 1px 4px;
  background-color: var(--color-background);
}

.markdown pre {
  margin: 16px 0px;
  padding: 8px;
  background-color: var(--color-background);
}

.markdown pre > code {
  font-size: 14px;
  line-height: 20px;
}

.markdown blockquote {
  margin: 16px 0px;
  margin: 0px;
  padding-left: 18px;
  border-left: 2px solid var(--color-theme-blue);
  color: var(--color-secondary-text);
}

.markdown img {
  margin: 16px 0px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.markdown iframe {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.verticalTop {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.verticalCenter {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.verticalBottom {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}
