body {
  margin: 0px;
}

.header {
  background-color: rgb(107, 240, 240);
}

.header-container {
  height: 50px;
}

.main {
  background-color: aliceblue;
}

.main-container {
  width: 680px;
  margin: 0px auto;
  background-color: white;
}

.editor {
  display: flex;
  margin: 0px;
  background-color: rgb(209, 209, 209);
}

.left-pane {
  flex-shrink: 0;
  height: 340px;
  width: 160px;
  overflow: auto;
}

.left-pane::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.left-pane::-webkit-scrollbar-thumb {
  background: #888;
}

.right-pane {
  flex-shrink: 0;
  width: 520px;
}

.editor-group {
  height: 20px;
}

.source-code-editor {
  height: 320px;
  overflow-y: auto;
}

.file-row {
  width: 300px;
  font-size: 12px;
}

.offset1 {
  padding-left: 8px;
}

.offset2 {
  padding-left: 16px;
}
