body {
  margin: 0px;
}

.header {
  background-color: rgb(107, 240, 240);
}

.header-container {
  height: 50px;
}

.main {
  background-color: aliceblue;
}

.main-container {
  width: 680px;
  margin: 0px auto;
  background-color: white;
}

.editor {
  height: 300px;
  overflow-y: auto;
  margin: 0px;
  background-color: rgb(209, 209, 209);
}

.terminal {
  margin: 1px 0px;
  padding: 4px;
  color: white;
  background-color: rgb(92, 92, 92);
}
