.next {
  /* sizing */
  padding: 8px;

  /* color and styles */
  background-color: var(--color-theme-transparent-white);
  color: var(--color-primary-text);
  border-style: none;
}

@media (max-width: 768px) {
  .next {
    padding: 4px 8px;
  }
  .text.smartphone {
    font-size: 10px;
  }

  .text.desktop {
    display: none;
  }
}

@media (min-width: 769px) {
  .text.smartphone {
    display: none;
  }

  .text.desktop {
    font-size: 16px;
  }
}
