.component {
  /* sizing */
  padding: 8px;

  /* color and styles */
  background-color: var(--color-theme-transparent-white);
  color: var(--color-primary-text);
  border-style: none;
}

@media (max-width: 768px) {
  .component {
    padding: 4px 8px;
  }

  .smartphone {
    font-size: 10px;
  }

  .desktop {
    display: none;
  }
}

@media (min-width: 769px) {
  .smartphone {
    display: none;
  }

  .desktop {
    font-size: 16px;
  }
}
