.component {
  height: 100%;
  background-color: var(--color-background);
}

@media (max-width: 768px) {
  .component {
    width: 100svw;
  }
}

@media (min-width: 769px) {
  .component {
    width: 768px;
  }
}
