.component {
  height: 100%;

  /* center the title */
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* coloring */
  background-color: var(--color-background);
  color: var(--color-primary-text);
}

.title {
  text-align: center;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.image {
  /* center the title */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caption {
  margin-top: 10px;
}
